@import url('https://fonts.googleapis.com/css?family=Open+Sans:400i|PT+Sans');

$title-font: 'PT Sans', sans-serif;
$text-font: 'Open Sans', sans-serif;

$blue: #69D2E7;
$turquoise: #A7DBD8;
$sand: #E0E4CC;
$gold: #F38630;
$orange: #FA6900;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

body {
    background-color: $blue;
}

main {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}

h1 {
    font: 36px $title-font;
    font-weight: 800;
    text-align: center;
    color: $gold;
    border: 2px dashed $sand;
    padding: 15px;
    margin-bottom: 50px;
}

.quote {
    font: 28px $text-font;
    color: $sand;
    text-align: center;
}

.author {
    @extend .quote;
    text-decoration: underline;
}

.trigger {
    background-color: $blue;
    border: 1px solid $sand;
    @include border-radius(4px);
    color: $orange;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    font: 26px $title-font;
    &:hover {
        cursor: pointer;
        color: $gold;
        background-color: $turquoise;
    }
}

.tweet {
    @extend .trigger;
    margin-bottom: 50px;
}